<div {{ attributes }}>
  {# TODO: the "magic" entity breaks this magic timeEntry.startTime of symfony's own! #}
  <span>Started at: {{ timeEntry.getStartTime()|date('Y-m-d H:i:s') }}</span>
  <div>
    <span>Category</span>
    <span>
      <select
        data-model="billingCategory"
        id="billingCategory"
        class="{{ _errors.has('category') ? 'is-invalid' }}"
      >
        <option value="0">Select a category</option>
        {% for category in billingCategories %}
          <option
            value="{{ category.getId() }}"
            {% if timeEntry.getBillingCategory().getId()|default(null) == category.getId() %}selected{% endif %}
          >
            {{ category.getName() }}
          </option>
        {% endfor %}
      </select>

      <span>
        <span>Add new category</span>
        <twig:NewCategoryForm
          class="d-inline"
        />
    </span>
  </div>

  {# note #}
  <div>
    <span>Note</span>
    <textarea
      data-model="note"
      id="note"
      class="{{ _errors.has('note') ? 'is-invalid' }}"
    ></textarea>
  </div>
</div>
