<div{{ attributes }}>
  <h1>{{ year }}-{{ month }}</h1>
  {% set entriesByDay = this.entriesByDay %}

  <twig:Generic:Calendar year="{{ year }}" month="{{ month }}" minDayHeight="100">
    <twig:block name="dayContent">
      {% if entriesByDay[date] is defined %}
        <p>Total time: {{ entriesByDay[date]|map(entry => entry.durationInSeconds)|reduce((carry, duration) => carry + duration, 0) }}</p>
        {% for entry in entriesByDay[date] %}
          <div class="entry">
            <span
              class="duration"
              title="{{ entry.startTime|date('H:i:s') }} - {{ entry.endTime|date('H:i:s') }}"
            >{{ entry.durationInSeconds }}s</span>

            <span class="note">{{ entry.note }}</span>

            <span
              class="billingCategory"
              style="background-color: {{ entry.billingCategory.color }}"
              {# data-color="{{ entry.billingCategory.color }}" #}
            >{{ entry.billingCategory.name }}</span>
          </div>
        {% endfor %}
      {% else %}
        <p>No entries</p>
      {% endif %}
    </twig:block>
  </twig:Generic:Calendar>
</div>
